@font-face {
  font-family: 'Gafata';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gafata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ceviche One';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CevicheOne-Regular.ttf) format('truetype');
}

body, * {
    margin: 0;
    padding: 0;
    font-family:'Gafata', 'Helvetica Neue', 'sans serif';
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #999;
}

.container {
    width: 480px;
    margin: 0 auto;
}


#logo {
    width:480px;
    height:480px;
    background-image: url(/img/Rocket480.png);
    background-position: center center; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo .backcircle {
    display:none;
    background: rgb(243,165,51);
    width:440px;
    height:440px;
    margin:20px;
    position: absolute;
    z-index:-99;
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    -ms-border-radius: 220px;
    -o-border-radius: 220px;
    border-radius: 220px;
}

#logo.ani {
    background-image: none;
}

#logo.ani .backcircle{
    display:block;
}

#title, #nav{
    text-align: center;
    margin: 20px 0 40px;
}

#nav {
    color: #eee;
}

#nav a:hover{
    text-decoration: underline;
}

#title h1 {
    font-family: 'Ceviche One', cursive;
    font-size: 120px;
    margin:0;
}

#title small {
    font-size: 24px;
    color: #666;
}

#footer {
    text-align: center;
    padding:10px 0;
    background: #F7F7F7;
    border-top: #eee 1px solid;
    color: #333;
}

#join {
    font-size: 60px;
    color: #4CD964;
    display: block;
    margin: 10px 0 20px;
}

#coc {
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}

#coc h1 {
    font-weight: bold;
    font-size: 24px;
}

#coc .content {
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 50px;
}

#coc .content>.small {
    font-size: 16px;
    color: #666;
}

#coc .notice {
    color: #666;
    font-size: 16px;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
    #logo {
        background-image: url(/img/Rocket960.png);
    }
}


